html
	head
		title 1984
		link(type="text/css" rel="stylesheet" href='/css/bootstrap.min.css')
		link(type="text/css" rel="stylesheet" href='/css/main.css')

	body
		include navbar.pug

		.container
			.row
				.col-xs-4
					a(href='/books/1984', class='thumbnail')
						img(src='/img/1984.png', alt='1984 by George Orwell')



				.col-xs-8
					h3 1984
					h4 George Orwell
					p The year 1984 has come and gone, but George Orwell's prophetic, nightmarish vision in 1949 of the world we were becoming is timelier than ever. 1984 is still the great modern classic of "negative utopia" -a startlingly original and haunting novel that creates an imaginary world that is completely convincing, from the first sentence to the last four words. No one can deny the novel's hold on the imaginations of whole generations, or the power of its admonitions -a power that seems to grow, not lessen, with the passage of time.



		//-
		//- <div class="row">
		//-   <div class="col-xs-6 col-md-3">
		//-     <a href="/books/1984" class="thumbnail">
		//-       <img src="/img/1984.png" alt="1984 by George Orwell">
		//-     </a>
		//-   </div>

			<div class="row">
		//- <div class="col-xs-6 col-md-3">
		//-   <a href="#" class="thumbnail">
		//-     <img src="..." alt="...">
		//-   </a>
		//-   </div>
		//-   ...
		//-   </div>



		//-
		//- div.container
		//- 	.row
		//- 		.col-sm-6.col-md-4
		//- 			.thumbnail
		//- 				a(target='_blank', href='/books/1984')
		//- 					img(alt='', src='/img/1984.png')
		//- 				.caption
			h3 1984
			h4 George Orwell
			p The year 1984 has come and gone, but George Orwell's prophetic, nightmarish vision in 1949 of the world we were becoming is timelier than ever. 1984 is still the great modern classic of "negative utopia" -a startlingly original and haunting novel that creates an imaginary world that is completely convincing, from the first sentence to the last four words. No one can deny the novel's hold on the imaginations of whole generations, or the power of its admonitions -a power that seems to grow, not lessen, with the passage of time.



		//-
		//- .row
		//- 	col-xs-4
		//- 		img(class="img-responsive" src="img/1984.png")
		//- 	col-xs-8
		//- 		p(class="responsive") The year 1984 has come and gone, but George Orwell's prophetic, nightmarish vision in 1949 of the world we were becoming is timelier than ever. 1984 is still the great modern classic of "negative utopia" -a startlingly original and haunting novel that creates an imaginary world that is completely convincing, from the first sentence to the last four words. No one can deny the novel's hold on the imaginations of whole generations, or the power of its admonitions -a power that seems to grow, not lessen, with the passage of time.
		//- 		p(id="details") Mass Market Paperback, Signet Classics, 328 pages Published July 1st 1950 by New American Library
