nav.navbar.navbar-inverse
	a(class="navbar-brand" href="/") my Bookshelf
	a(class="navbar-brand" href="/books/the-kiterunner") the Kiterunner
	a(class="navbar-brand" href="/books/to-kill-a-mockingbird") to kill a mockingbird
	a(class="navbar-brand" href="/books/1984") 1984












//- /*nav.navbar.navbar-default.navbar-fixed-top
//- 	.container-fluid
//- 		.navbar-header
//- 			ul
//- 				li
//- 					a(href="/1984") 1984
//- 				li
//- 					a(href="/the-kiterunner") the kiterunner
//- 				li
//- 					a(href="/to-kill-a-mockingbird") to kill a mockingbird*/


//- /*nav.navbar.navbar-default
//-  .container-fluid
//- 	.navbar-header
//- 		a.navbar-brand(href='/')
//- 			p.navbar-text my Bookshelf*/
