nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			ul
				li
					a(href="/1984") 1984
				li
					a(href="/the-kiterunner") the kiterunner
				li
					a(href="/to-kill-a-mockingbird") to kill a mockingbird
